build --action_env=http_proxy
build --action_env=https_proxy
build --action_env=no_proxy
build --action_env=HTTP_PROXY
build --action_env=HTTPS_PROXY
build --action_env=NO_PROXY
build --action_env=NPM_CONFIG_REGISTRY

build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java11
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java11

# Download a bazel-defined jdk11 for reproducible builds
build --javabase=@bazel_tools//tools/jdk:remote_jdk11
build --host_javabase=@bazel_tools//tools/jdk:remote_jdk11

# To use a local jdk11 from $JAVA_HOME, uncomment and add to .bazelrc.local:
#build --javabase=@local_jdk//:jdk
#build --host_javabase=@local_jdk//:jdk

test --test_env=http_proxy
test --test_env=https_proxy
test --test_env=no_proxy
test --test_env=HTTP_PROXY
test --test_env=HTTPS_PROXY
test --test_env=NO_PROXY

coverage --collect_code_coverage
coverage --combined_report=lcov
coverage --coverage_report_generator=@bazel_sonarqube//:sonarqube_coverage_generator

try-import %workspace%/.bazelrc.local
